/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

a {
  color: #000;
  text-decoration: none;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

button {
  background-color: rgb(224, 136, 20);
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
}

button, input {
  min-height: 5vh;
  min-width: 8vw;
}

h1, h2 {
  font-family: 'Abril Fat Face', 'Lucida Bold', 'Display';
  font-size: 4rem;
  max-width: 50%;
}

h3 {
  color: rgb(224, 136, 20);
}

input {
  border-radius: 10px 0 0 10px;
}

li {
  list-style-type: none;
  display: inline;
  padding-left: 2%;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.about {
  background-image: url('../images/coffee-cup.jpg');
  background-position: 100% -20vh;
  background-size: cover;
}

.background-image {
  background-image: url('../images/header.jpg');
  background-position: 100% -20vh;
  background-size: cover;
}

.logo {
  width: 80px;
}

.nav-icon {
  width: 20px;
}

.nav-menu {
  float: right;
  position: relative;
  top: -80px;
}

.social-media {
  color: rgb(224, 136, 20);
}

.top {
  margin-left: 1rem;
}