/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

a {
  color: #000;
  text-decoration: none;
}

body {
  background-image: url('../images/header.jpg');
  font-family: Roboto, Arial, sans-serif;
  padding-left: 2%;
}

h1, h3 {
  font-family: 'Abril Fat Face', 'Lucida Bold', 'Display';
  font-size: 3rem;
}

h2, .price {
  color: rgb(224, 136, 20);
  font-weight: bold;
}

li {
  list-style-type: none;
}

/******************************************
/* LAYOUT
/*******************************************/

.horizontal-list {
  display: inline;
  padding-left: 2%;
}

.inline-image {
  max-width: 40%;
}

.logo {
  width: 10%;
}

.mobile-only {
  margin-left: 25%;
}

nav {
  float: right;
  margin-right: 2vw;
  position: relative;
  top: 2.5vh;
  right: -3.5vw;
  transform: rotate(180deg)
}

.nav-menu {
  background-color: rgba(218, 218, 218, 0.4);
  float: right;
  min-height: 5vh;
  padding: 1vh 1.5vw;
  transform: rotate(180deg)
}

.nav-menu:hover {
  background-color: rgba(105, 105, 105, 0.6);
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#about {
  float: left;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
 min-width: 70%;
  min-height: 70%;
}

.hidden {
  display: none;
}

.social-media {
  color: rgb(224, 136, 20);
  padding: 0 2vw 2vh 0;
}

thead {
  background: rgb(224, 136, 20);
  color: #fff;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/

@media screen and (min-width: 800px) {
    /******************************************
    /* BASE STYLES - FULL SCREEN
    /*******************************************/
      h1 {
        max-width: 50%;
      }

      h1, h3 {
        font-size: 4rem;
      }

      h2 {
        font-size: 2rem;
        padding-top: 2%;
      }

      p, table, li {
        font-size: 1.4rem;
      }

    /******************************************
    /* LAYOUT - FULL SCREEN
    /*******************************************/
      .left {
        float: left;
        margin-left: 2%;
        padding-right: 1%;
        width: 55%;
      }

      .logo {
        width: 80px;
      }

      .right {
        float: right;
        margin-right: 2%;
        padding-left: 1%;
        width: 55%;
      }

      table {
        margin-bottom: 2%;
      }

      .top {
        float: none;
        clear: both;
      }

    /******************************************
    /* ADDITIONAL STYLES - FULL SCREEN
    /*******************************************/
      .hidden {
        display: inline-block;
      }

    .mobile-only {
      display: none;
    }

    .overlay {
      background-color: rgba(218, 218, 218, 0.85);
      padding: 1%;
    }

    .full-height {
      height: 75vh;
    }
}